<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" sizes="120x120" href="/Assets/Imgs/Logo Rouge.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOX ICONS CSS (CDN) -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- SCROLL REVEAL JS (CDN) -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!--Slick Carousel CSS (CDN)-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    <!-- BOOTSTRAP 4 CSS (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <!-- OWN CSS FILE -->
    <link rel="stylesheet" href="/CSS/global.css">
    <title>Loco Street - Home </title>
</head>

<body>
    <main class="container-fluid l-home m-0 p-0">
        <div class="hero__section">
            <nav class="navbar navbar-expand-md navbar-light px-5">
                <a class="navbar-brand" href="/">
                    <img src="/Assets/Imgs/Logo Rouge.png" alt="Loco Street" class="img-fluid" height="60" width="60">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <i class='bx bx-grid-alt'></i>
                    </button>
                <div class="collapse navbar-collapse d-flex justify-content-center align-items-center " id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </div>
                </div>
                <div class="sci__area">
                    <a href="https://www.facebook.com/LOCO.STREET.MAROC/" target="_blank">
                        <i class='bx bxl-facebook'></i>
                    </a>
                </div>
            </nav>

            <!-- BANNER AREA -->
            <div class="container-fluid banner__area mx-auto">
                <div class="row w-100 mx-3">
                    <div class="col-md-4">
                        <div class="banner__content">
                            <h2>Célébrez avec le 84ème anniversaire de la création de la meilleure équipe marocaine</h2>
                            <button class="btn order-btn" data-tilt>
                                    <a href="/product1"> Order Now <i class='bx bx-right-arrow-alt'></i></a>
                                </button>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex justify-content-center align-items-center">
                        <div class="row row-mobile">
                            <div class="col-md-4">
                                <div class="img__holder">
                                    <img src="/Assets/Imgs/Module (1).png" alt="Module1" class="img-fluid mode1">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="img__holder">
                                    <img src="/Assets/Imgs/Module Sans verso.png" alt="Module3" class="img-fluid mode2">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="img__holder">
                                    <img src="/Assets/Imgs/Module (2).png" alt="Module1" class="img-fluid mode3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG WAVE -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFF" fill-opacity="1"
                        d="M0,64L80,85.3C160,107,320,149,480,144C640,139,800,85,960,85.3C1120,85,1280,139,1360,165.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
                    </path>
                </svg>

            <!-- PRODUCTS CARDS AREA -->
            <div class="container products__area">
                <div class="row w-100 mx-auto products__slider">
                    <div class="col-md-3 col-box">
                        <div class="product__box box1" data-tilt>
                            <div class="card__img">
                                <img src="/Assets/Imgs/Module (1).png" alt="Huddie1" class="img-slider">
                            </div>
                            <!-- SHOPPING WALL  -->
                            <div class="wall">
                                <div class="cart__btn">
                                    <a href="/product1">
                                        <i class='bx bx-shopping-bag'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-box">
                        <div class="product__box box2" data-tilt>
                            <div class="card__img">
                                <img src="/Assets/Imgs/Module (2).png" alt="Huddie2" class="img-slider">
                            </div>

                            <!-- SHOPPING WALL  -->
                            <div class="wall">
                                <div class="cart__btn">
                                    <a href="/product2">
                                        <i class='bx bx-shopping-bag'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-box">
                        <div class="product__box box3" data-tilt>
                            <div class="card__img">
                                <img src="/Assets/Imgs/Module 1-2-3 Verso.png" alt="Huddie3" class="img-slider">
                            </div>
                            <!-- SHOPPING WALL  -->
                            <div class="wall">
                                <div class="cart__btn">
                                    <a href="/product3">
                                        <i class='bx bx-shopping-bag'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-box">
                        <div class="product__box box3" data-tilt>
                            <div class="card__img">
                                <img src="/Assets/Imgs/Module Sans verso.png" alt="Huddie3" class="img-slider">
                            </div>
                            <!-- SHOPPING WALL  -->
                            <div class="wall">
                                <div class="cart__btn">
                                    <a href="/product4">
                                        <i class='bx bx-shopping-bag'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- FOOTER SECTION -->
    <footer>
        <div class="footer__content">
            <p class="footer__copy my-auto">
                Tous droits réservés par Loco Street --
                <script>
                    document.write(new Date().getFullYear())
                </script>
            </p>
        </div>
    </footer>
    <!-- BOOTSTRAP 4 JS (CDN) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Slick Carousel JS (CDN)-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- Tilt Js Parallax Effect (CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    <script src="https://unpkg.com/tilt.js@1.2.1/dest/tilt.jquery.min.js"></script>
    <!-- TIDIO CHAT (CDN) -->
    <script src="//code.tidio.co/hmjtp0a1poe9vsjd7xqkvokuapduib3f.js" async></script>
    <!-- OWN JS FILE -->
    <script src="./JS/main.js"></script>
</body>

</html>