// GLOBAL VARIABLES --> (Typography -- Colors -- Backgrounds)
/*---- TYPOGRAPHY ----*/
$popins: "Poppins", sans-serif;
$rajdhani: "Rajdhani", sans-serif;

/*-----  COLORS ----*/
$banner-bg: #1b1d1e;
$cards-bg: #2f3031;
$btns-bg: #eb0000;
$inputs-bg: #cfdbd5;
